@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
body {
  font-family: 'Fira Sans', sans-serif;
}
code {
  font-family: 'Fira Mono', monospace;
  font-size: small;
}

.content {
    margin-left: 10%;
    width: 80%;
}
